<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragment/head :: head(~{::title})">
    <title>상품 수정 폼</title>
</head>
<body>
    <nav th:replace="admin/fragment/admin_sidebar :: sidebar()"></nav>
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-5 mt-4">
                <div class="card cardbox">
                    <div class="card-header">상품 수정</div>
                    <div class="card-body">
                        <div class="form-group">
                            <form id="login-nav" th:object="${product}" th:action="@{/admin/product/edit/{productId} (productId = ${product.getProductId})}" action="#" method="post" role="form" class="form" accept-charset="UTF-8">

                                <div class="form-group">
                                    <label for="memberFirstname">이름</label>
                                    <input type="text" id="memberFirstname" th:field="*{productName}" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="productPrice">가격</label>
                                    <input type="text" id="productPrice" th:field="*{productPrice}" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="productData">출시일</label>
                                    <input type="date" id="productData" th:field="*{productData}" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="productCategory">카테고리</label>
                                    <select id="productCategory" th:field="*{productCategory}" class="form-select">
                                        <option value="1">맥</option>
                                        <option value="2">아이패드</option>
                                        <option value="3">아이폰</option>
                                        <option value="4">와치</option>
                                        <option value="5">에어팟</option>
                                    </select>
<!--                                    <input type="text" id="productCategory" th:field="*{productCategory}" class="form-control">-->
                                </div>

                                <div class="form-group">
                                    <label for="productColor">색상</label>
                                    <input type="text" id="productColor" th:field="*{productColor}" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="productAP">AP</label>
                                    <input type="text" id="productAP" th:field="*{productAP}" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="productRam">Ram</label>
                                    <input type="text" id="productRam" th:field="*{productRam}" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="productOperatingSystem">OS</label>
                                    <input type="text" id="productOperatingSystem" th:field="*{productOperatingSystem}" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="productStorage">저장용량</label>
                                    <input type="text" id="productStorage" th:field="*{productStorage}" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="productStock">상품수량</label>
                                    <input type="text" id="productStock" th:field="*{productStock}" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="productImg01">productImg01</label>
                                    <input type="text" id="productImg01" th:field="*{productImg01}" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="productImg02">productImg02</label>
                                    <input type="text" id="productImg02" th:field="*{productImg02}" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="productImg03">productImg03</label>
                                    <input type="text" id="productImg03" th:field="*{productImg03}" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="productImg04">productImg04</label>
                                    <input type="text" id="productImg04" th:field="*{productImg04}" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="productContentImg01">productContentImg01</label>
                                    <input type="text" id="productContentImg01" th:field="*{productContentImg01}" class="form-control">
                                </div>

                                <!-- Submit -->
                                <div class="form-group">
                                    <button id="reg_submit" name="submit"  value="1" class="btn btn-block btn-primary">수정 완료</button>
                                </div>
                            </form>
                        </div>
                        <div class="login-or"><hr class="hr-or"></div>
                        <button id="delete" class="btn btn-block btn-danger">
                            <a href="#" th:href="@{/admin/product/delete/{productId} (productId=${product.productId})}">상품 삭제</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>